*{
	margin: 0;
	padding: 0;
}
div{
	display: inline-block;
	border: 1px solid gray;
	vertical-align: top;
}
#wrap{
	width: 1000px;
	height: 500px;
	display: block;
	margin: 50px auto;
}
.car{
	width: 350px;
	height: 400px;
	margin-top: 50px;
}
.note{
	width: 350px;
	height: 400px;
	margin-top: 50px;
}
.fish{
	width: 100px;
	height: 400px;
	margin-top: 50px;
}
.one{
	width: 70px;
	height: 300px;
	margin-top: 50px;
}
.two{
	width: 150px;
	height: 300px;
	margin-top: 50px;
}
.three{
	width: 20px;
	height: 200px;
	writing-mode: tb-rl; 
}
input{
	width: 50px;
	height: 50px;
}